#tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tables td, #tables th {
    border: 1px solid #ddd;
    padding: 8px;
}
/**
colorea don fondo blanco gris las filas pares
 */
#tables tr:nth-child(even){background-color: #f2f2f2;}

#tables tr:hover {background-color: #ddd;}

#tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black /*#04AA6D*/;
    color: white;
}

.btn{
    width: 100%;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.btn-primary{
    background-color: #1762dd;
}

.btn-primary:hover{
    background-color: #216ce7;
}

.btn-green{
    background-color: #5cb85c;
}
.btn-green:hover{
    background-color: #4cae4c;;
}
.btn-blue-dark{
    background-color: darkblue;
}
.btn-blue-dark:hover{
    background-color: darkslateblue;
}
.btn-blue{
    background-color: blue;
}
.btn-red{
    background-color: red;
}

.btn-red:hover{
    background-color: #f13737;
}

.btn-warning{
    background-color: orange;
}

.btn-warning:hover{
    background-color: #f5a142;
}

.mt-10{
    margin-top: 10px;
}
.btn-close-dark{
    background-color: #4cae4c;
    border-radius: 30px;
}
.btn-close-dark:hover{
    background-color: green;
}
.center-component {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-component{
    max-width: 100%;
}